@model KeyboardProjectAppSimple.Models.KeyboardProject

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h4>@Html.DisplayFor(model => model.ProjectName) Project Details</h4>
    <table class="table">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ProjectKeyboardCase)
            </td>
            <td>
                @Html.DisplayFor(model => model.ProjectKeyboardCase)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.ProjectKeyboardCasePrice)
            </td>
            <td>
                @Html.DisplayFor(model => model.ProjectKeyboardCasePrice)
            </td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ProjectSwitchplate)
            </td>
            <td>
                @Html.DisplayFor(model => model.ProjectSwitchplate)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.ProjectSwitchplatePrice)
            </td>
            <td>
                @Html.DisplayFor(model => model.ProjectSwitchplatePrice)
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ProjectPcb)
            </td>
            <td>
                @Html.DisplayFor(model => model.ProjectPcb)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.ProjectPcbPrice)
            </td>
            <td>
                @Html.DisplayFor(model => model.ProjectPcbPrice)
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ProjectSwitch)
            </td>
            <td>
                @Html.DisplayFor(model => model.ProjectSwitch)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.ProjectSwitchQuant)
            </td>
            <td>
                @Html.DisplayFor(model => model.ProjectSwitchQuant)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.ProjectSwitchPrice)
            </td>
            <td>
                @Html.DisplayFor(model => model.ProjectSwitchPrice)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ProjectKeycap)
            </td>
            <td>
                @Html.DisplayFor(model => model.ProjectKeycap)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.ProjectKeycapQuant)
            </td>
            <td>
                @Html.DisplayFor(model => model.ProjectKeycapQuant)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.ProjectKeycapPrice)
            </td>
            <td>
                @Html.DisplayFor(model => model.ProjectKeycapPrice)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ProjectStabilizer)
            </td>
            <td>
                @Html.DisplayFor(model => model.ProjectStabilizer)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.ProjectStabilizerPrice)
            </td>
            <td>
                @Html.DisplayFor(model => model.ProjectStabilizerPrice)
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.ProjectPrice)
            </td>
            <td>
                @Html.DisplayFor(model => model.ProjectPrice)
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProjectId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
