@model IEnumerable<KeyboardProjectAppSimple.Models.KeyboardProject>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Keyboard Projects</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectKeyboardCase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectKeyboardCasePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectSwitchplate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectSwitchplatePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectPcb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectPcbPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectSwitch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectSwitchQuant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectSwitchPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectKeycap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectKeycapQuant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectKeycapPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectStabilizer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectStabilizerPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectKeyboardCase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectKeyboardCasePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectSwitchplate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectSwitchplatePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectPcb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectPcbPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectSwitch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectSwitchQuant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectSwitchPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectKeycap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectKeycapQuant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectKeycapPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectStabilizer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectStabilizerPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectPrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProjectId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProjectId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProjectId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
